<script>
  // Modules
  import { Router, Route } from 'svelte-navigator';  
  // Pages
  import Lobby from '../pages/Lobby';
</script>

<Router>
  <main class="main">
    <Route path="/">
      <Lobby />
    </Route>
  </main>
</Router>

<style>
  .main {
    width: 720px;
    margin: 0 auto;
  }
</style>