<script>
  export let fromValue;
  export let toValue;
</script>

<div class="wrap">
  <input class="input" placeholder="От" bind:value={fromValue} />
  <div class="dash">&mdash;</div>
  <input class="input" placeholder="До" bind:value={toValue} />
</div>

<style>
  .wrap {
    display: flex;
  }

  .dash {
    margin: 0 4px;
  }

  .input {
    display: block;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    max-width: 80px;
    padding: 0 8px;
    background: unset;
    border: 1px solid black;
    border-radius: 4px;
    outline: unset;
    background-color: #ffffff;
  }
</style>
