<script>
  // Modules
  import { createEventDispatcher } from 'svelte';
  // Icons
  import PlusIcon from '../../assets/Plus/plus.svg';
  import MinusIcon from '../../assets/Minus/minus.svg';
  // Api
  import { addToCart, subFromCart } from '../../api/mock-cart';
  // Utils
  import { debounce } from '../../utils/debounce';
  
  /// number
  export let productId;
  /// number
  export let count;
  let pendingCount = count;
  let inProgress = false;

  const dispatchEvent = createEventDispatcher();

  const addProduct = () => {
    pendingCount += 1;
    inProgress = true;

    addToCart(productId, 1)
      .then((res) => {
        count = res.count;
        dispatchEvent('add-product', { count });
      })
      .catch((err) => {
        console.error(err);
        pendingCount = count;
      })
      .finally(() => {
        inProgress = false;
      });
  };

  const debouncedCommitCount = debounce(
    (productId, newCount) => {
      if (pendingCount > 0) {
        inProgress = true;
      }

      const mutation = newCount < 0 ? subFromCart : addToCart;
      mutation(productId, Math.abs(newCount))
        .then((res) => {
          count = res.count;
          dispatchEvent(
            mutation === subFromCart ? 'sub-product' : 'add-product', 
            { count }
          );
        })
        .catch((err) => {
          console.error(err);
          pendingCount = count;
        })
        .finally(() => {
          inProgress = false;
        });
    },
    200,
  );
  const addMoreProduct = () => {
    pendingCount += 1;
    debouncedCommitCount(productId, pendingCount - count);
  };
  const subProduct = () => {
    pendingCount -= 1;
    if (pendingCount === 0) {
      inProgress = true;
    }
    debouncedCommitCount(productId, pendingCount - count);
  };
</script>

{#if count === 0}
  <button class="add-button" disabled={inProgress} on:click={addProduct}>
    Добавить
  </button>
{:else}
  <div class="tumblers">
    <buttom class="tumbler" disabled={inProgress} on:click={addMoreProduct}>
      <PlusIcon />
    </buttom>
    <div class="count">{pendingCount}</div>
    <button class="tumbler" disabled={inProgress} on:click={subProduct}>
      <MinusIcon />
    </button>
  </div>
{/if}

<style>
  .add-button {
    display: block;
    padding: 5px 12px;
    outline: unset;
    border: unset;
    border-radius: 4px;
    background: rgb(50, 146, 255);
    color: #ffffff;
    -webkit-box-shadow: 4px 3px 7px -4px #000000; 
    box-shadow: 4px 3px 7px -4px #000000;
    cursor: pointer;
  }

  .add-button:disabled {
    background: rgb(141, 194, 255);
    cursor: not-allowed;
  }

  .tumblers {
    display: flex;
    align-items: center;
  }

  .tumbler {
    width: unset;
    height: unset;
    border: unset;
    outline: unset;
    padding: unset;
    background: unset;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tumbler:active {
    background: unset;
  }

  .tumbler > :global(svg) {
    width: 24px;
    height: 24px;
  }

  .tumbler > :global(svg) :global(path) {
    fill: rgb(44, 160, 255);
  }

  .tumbler:disabled {
    cursor: not-allowed;
  }

  .tumbler:disabled > :global(svg) :global(path) {
    fill: rgb(181, 205, 224);
  }

  .count {
    font-size: 16px;
    line-height: 24px;
    margin: 0 12px;
  }
</style>