<script>
  // Modules
  import { createEventDispatcher, onMount, onDestroy } from 'svelte';
  // Components
  import Product from '../Product';
  import Cart from '../Cart';
  // Utils
  import { isSSR } from '../../utils/isSSR';
  // Api
  import { getCartByIds } from '../../api/mock-cart';
  // Icons
  import SpinnerIcon from '../../assets/Spinner/spinner.svg';

  /**
   products: Array<{
    id: int;
    title: string:
    description: string;
    photoUrl: string;
    price: float;
    goldMillis: float;
    silverMillis: float;
    carats: int;
   }>
   */
  export let products;
  export let cart;
  /// number
  export let productsTotalCount;

  const dispatchEvent = createEventDispatcher();

  // TODO: Make option dependency of list
  let cartPending = cart ? false : true;
  if (!isSSR && !cart) {
    onMount(() => {
      const ids = products.map((e) => e.id);
      getCartByIds(ids)
        .then((res) => {
          cart = res;
        })
        .catch((err) => {
          console.error(err);
        })
        .finally(() => {
          cartPending = false;
        });
    });
  }

  if (!isSSR) {
    const fetchOnScroll = () => {
        const scrolledToBottom = (window.innerHeight + window.scrollY) >= document.body.scrollHeight;
        if (scrolledToBottom && (!products || products.length < productsTotalCount)) {
          dispatchEvent('fetch-more');
        }
    };

    onMount(() => {
      window.addEventListener('scroll', fetchOnScroll);
    });

    onDestroy(() => {
      window.removeEventListener('scroll', fetchOnScroll);
    });
  }
</script>

{#each products as prod}
  <div class="wrap">
    <Product 
      id={prod.id}
      title={prod.title}
      description={prod.description}
      photoUrl={prod.photoUrl}
      price={prod.price}
      goldMillis={prod.goldMillis}
      silverMillis={prod.silverMillis}
      carats={prod.carats}
      totalCount={prod.totalCount}
    >
      <!-- TODO: Make option dependency of list -->
      <svelte:fragment slot="option">
        {#if cartPending}
          <div class="cart-loader">
            <SpinnerIcon />
          </div>
        {:else if cart}
          <Cart
            productId={prod.id}
            count={cart.find((e) => e.product.id === prod.id)?.count || 0}
          />
        {/if}
      </svelte:fragment>
    </Product>
  </div>
{/each}

<style>
  .wrap {
    margin-bottom: 12px;
    transition: 0.2s;
    width: 480px;
    z-index: 1;
  }

  .wrap:nth-child(2n+1):hover {
    transform: translateX(8px);
  }

  .wrap:nth-child(2n):hover {
    transform: translateX(-8px);
  }

  .cart-loader > :global(svg) {
    width: 32px;
    height: 32px;
  }
</style>

