<script>
  // Modules
  import { createEventDispatcher, onDestroy, onMount } from 'svelte';
  // Icons
  import TumblerBurgerIcon from '../../assets/TumblerBurger/tumbler-burger.svg';
  // Utils
  import { isSSR } from '../../utils/isSSR';
  // Components
  import InputFromTo from '../InputFromTo';

  const dispatchEvent = createEventDispatcher();

  let contentRef;
  let settingsEnabled = false;
  let settingsOpened = false;
  const toggleSettngs = () => {
    if (!settingsEnabled) {
        settingsEnabled = true;
    } else {
        settingsOpened = false;
    }
  };
  const closeSettings = () => {
    settingsOpened = false;
  };
  const hideSettingsOnClose = () => {
    if (!settingsOpened) {
      settingsEnabled = false;
    }
  }
  $: {
    if (settingsEnabled) {
        window.setTimeout(() => {
          settingsOpened = true;
        }, 100);
    }
  }

  /// 'title' | 'description'
  let queryField = 'title';
  let priceFrom = '';
  let priceTo = '';
  let goldMillisFrom = '';
  let goldMillisTo = '';
  let silverMillisFrom = '';
  let silverMillisTo = '';
  let caratsFrom = '';
  let caratsTo = '';
  let withPhoto = false;

  const onApply = () => {
    closeSettings();

    const filters = {
      price: {
        from: Number(priceFrom) || 0,
        to: Number(priceTo) || Number.MAX_VALUE,
      },
      goldMillis: {
        from: Number(goldMillisFrom) || 0,
        to: Number(goldMillisTo) || Number.MAX_VALUE,
      },
      silverMillis: {
        from: Number(silverMillisFrom) || 0,
        to: Number(silverMillisTo) || Number.MAX_VALUE,
      },
      carats: {
        from: Number(caratsFrom) || 0,
        to: Number(caratsTo) || Number.MAX_VALUE,
      },
      withPhoto,
    };

    dispatchEvent('apply-filters', {
      queryField,
      filters,
    });
  };

  if (!isSSR) {
    const hideSettingsOnOutsideClick = (e) => {
        if (!contentRef) {
          return;
        }

        if (e.target !== contentRef && !contentRef.contains(e.target)) {
          closeSettings();
        }
    };

    onMount(() => {
      window.addEventListener('click', hideSettingsOnOutsideClick);
    });

    onDestroy(() => {
      window.removeEventListener('click', hideSettingsOnOutsideClick);
    });
  }
</script>

<div class="wrap">
    <div class="icon" on:click={toggleSettngs}>
      <TumblerBurgerIcon />
    </div>
    {#if settingsEnabled}
      <div
        bind:this={contentRef}
        on:transitionend={hideSettingsOnClose}
        class={`content ${settingsOpened ? 'content--opened' : ''}`}
      >
        <div class="field">
          <label class="label">Где искать?</label>
          <select class="select" bind:value={queryField}>
            <option value="title">
              В названии
            </option>
            <option value="description">
              В описании
            </option>
          </select>
        </div>

        <div class="row">
          <div class="col-6 field">
            <label class="label">Цена</label>
            <InputFromTo 
              bind:fromValue={priceFrom}
              bind:toValue={priceTo}
            />
          </div>
  
          <div class="col-6 ml-24 field">
            <label class="label">Золота (мг.)</label>
            <InputFromTo 
              bind:fromValue={goldMillisFrom}
              bind:toValue={goldMillisTo}
            />
          </div>
        </div>

        <div class="row">
          <div class="col-6 field">
            <label class="label">Серебра (мг.)</label>
            <InputFromTo 
              bind:fromValue={silverMillisFrom}
              bind:toValue={silverMillisTo}
            />
          </div>
  
          <div class="col-6 ml-24 field">
            <label class="label">Карат</label>
            <InputFromTo 
              bind:fromValue={caratsFrom}
              bind:toValue={caratsTo}
            />
          </div>
        </div>

        <div class="field">
          <input type="checkbox" class="checkbox" bind:value={withPhoto} />
          <div class="checkbox-title">Только с фото</div>
        </div>

        <div style="display: flex; justify-content: flex-end;">
          <button class="submit" on:click={onApply}>
            Применить
          </button>
        </div>
      </div>
    {/if}
</div>

<style>
  .wrap {
    position: relative;
    transform: translateY(25%);
    z-index: 2;
  }

  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .content {
    position: absolute;
    top: 20px;
    right: calc(100% - 20px);
    transform: translateX(-20px);
    min-height: 200px;
    z-index: 2;

    box-sizing: border-box;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 3px 7px -4px #000000; 
    box-shadow: 4px 3px 7px -4px #000000;
    background-color: rgb(220, 220, 255);
  
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: top right;
  }

  .content--opened {
    transform: scaleY(1);
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .ml-24 {
    margin-left: 24px;
  }

  .field {
    display: block;
    margin-bottom: 18px;
  }
  
  .label {
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  .select {
    display: block;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    max-width: 160px;
    padding: 0 8px;
    background: unset;
    border: 1px solid black;
    outline: unset;
    background-color: #ffffff;
  }

  .checkbox {
    display: inline-block;
    margin-right: 4px;
  }

  .checkbox-title {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }

  .submit {
    display: block;
    padding: 5px 12px;
    outline: unset;
    border: unset;
    border-radius: 4px;
    background: rgb(50, 146, 255);
    color: #ffffff;
    -webkit-box-shadow: 4px 3px 7px -4px #000000; 
    box-shadow: 4px 3px 7px -4px #000000;
    
    margin-top: 24px;
    cursor: pointer;
  }
</style>