<script>
  // Modules
  import { onMount } from 'svelte';
  // Components
  import SearchProducts from '../../components/SearchProducts';
  import ProductList from '../../components/ProductList';
  import FilterProducts from '../../components/FilterProducts';
  // Templates
  import Base from '../Base';
  // Icons
  import Spinner from '../../assets/Spinner/spinner.svg';
  // Api
  import { queryProducts } from '../../api/mock-products';
  // Utils
  import { debounce } from '../../utils/debounce';
  import { isSSR } from '../../utils/isSSR';

  /**
   products: Array<{
    id: int;
    title: string:
    description: string;
    photoUrl: string;
    price: float;
    goldMillis: float;
    silverMillis: float;
    carats: int;
   }>
   */
  let products;
  let error;
  let loading = true;
  let query = '';
  let queryField = 'title';
  let productsOffset = 0;
  let productsTotalCount = 0;
  // { [name: string]: any; }
  let filters;

  const searchProducts = debounce(
    (fetchMore) => {
      if (fetchMore) {
        productsOffset += 3;
      } else {
        productsOffset = 0;
      }

      const prevProducts = products;
      queryProducts(query, queryField, filters, productsOffset)
          .then((res) => {
            products = prevProducts ? prevProducts.concat(res.items) : res.items;
            productsTotalCount = res.totalCount;
            loading = false;
          })
          .catch((err) => {
            error = err;
            loading = false;
          });
    },
    400,
  );
  
  const onProductsSearch = () => {
    loading = true;
    products = undefined;
    error = undefined;
    searchProducts();
  };

  const onProductsFetchMore = () => {
    loading = true;
    searchProducts(true);
  };

  const onApplyFilters = (evt) => {
    loading = true;
    products = undefined;
    error = undefined;
    queryField = evt.detail.queryField;
    filters = evt.detail.filters;
    searchProducts();
  };

  if (!isSSR && !products) {
    onMount(() => searchProducts());
  }
</script>

<Base>
  <svelte:fragment slot="title">
    Мазазин ювелирных изделий
  </svelte:fragment>

  <svelte:fragment slot="content">
    <SearchProducts
      bind:query={query}
      on:search={onProductsSearch}
    >
      <FilterProducts 
        slot="option"
        on:apply-filters={onApplyFilters}
      />
    </SearchProducts>

    {#if products && products.length}
      <div class="results">
        <ProductList 
          products={products}
          productsTotalCount={productsTotalCount}
          on:fetch-more={onProductsFetchMore}
        />
        {#if loading}
          <div class="loader">
            <Spinner />
          </div>
        {:else if error}
          <div class="error">
            {error.toString()}
          </div>
        {/if} 
      </div>
    {:else if loading}
      <div class="loader">
        <Spinner />
      </div>
    {:else if error}
      <div class="error">
        {error.toString()}
      </div>
    {/if}
  </svelte:fragment>
</Base>

<style>
  .loader {
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error {
    width: 100%;
    margin-top: 16px;
  }

  .results {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>