<script>
  // Components
  import ProductDetails from "../ProductDetails";
  // Utils
  import { isSSR } from "../../utils/isSSR";

  /// number
  export let id;
  /// string
  export let title;
  /// string
  export let description;
  /// string
  export let photoUrl;
  /// number
  export let price;
  /// number
  export let goldMillis;
  /// number
  export let silverMillis;
  /// number
  export let carats;
  /// number
  export let totalCount;

  let photoLoaded = false;
  const onPhotoLoaded = () => {
    photoLoaded = true;
  };

  let optionRoot;
  let openDetails;
  const onCardClick = (e) => {
    if (
      optionRoot &&
      e.target !== optionRoot &&
      !optionRoot.contains(e.target)
    ) {
      openDetails();
    }
  };
</script>

<div class="wrap" on:click={onCardClick}>
  <div class="inner">
    <img
      class={`picture ${!photoLoaded ? "picture--pending" : ""}`}
      alt=""
      src={photoUrl}
      on:load={onPhotoLoaded}
    />

    <div class="content">
      <h3 class="title">{title}</h3>
      <h4 class="info">
        Цена: ${price.toFixed(2)}
      </h4>
      <h4 class="info">
        Осталось на складе: {totalCount}
      </h4>
      <p class="description">
        <span style="font-weight: bold;">Описание</span>:
        <br />
        {description}
      </p>
    </div>
  </div>

  {#if $$slots.option}
    <div class="option" bind:this={optionRoot}>
      <slot name="option" />
    </div>
  {/if}
</div>
{#if !isSSR}
  <ProductDetails
    bind:openDetails
    {id}
    {title}
    {description}
    {photoUrl}
    {price}
    {goldMillis}
    {silverMillis}
    {carats}
    {totalCount}
  >
    <svelte:fragment slot="option">
      {#if $$slots.option}
        {$$slots.option}
      {/if}
    </svelte:fragment>
  </ProductDetails>
{/if}

<style>
  .wrap {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    min-height: 200px;
    background-color: #fff8db;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    -webkit-box-shadow: 4px 3px 7px -4px #000000;
    box-shadow: 4px 3px 7px -4px #000000;
    cursor: pointer;
  }

  .inner {
    display: flex;
  }

  .picture {
    display: block;
    width: 72px;
    height: 72px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .picture--pending {
    background-color: grey;
  }

  .content {
    margin-left: 16px;
  }

  .title {
    margin: 0 0 14px 0;
    font-size: 24px;
    line-height: 32px;
  }

  .description {
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 22px;
  }

  .info {
    margin: 0 0 4px 0;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
  }

  .option {
    margin-top: 16px;
    margin-right: 16px;
    align-self: flex-start;
  }
</style>
