<script>
  // Modules
  import { onDestroy } from 'svelte';
  // Icons
  import CrossIcon from '../../assets/Cross/cross.svg';
  
  let modalContainer;
  let modalRoot;
  let modalOpened = false;
  let unsubOutsideClick;
  let cleanupScroll;

  const removeModalOnClose = () => {
    if (!modalOpened && modalContainer) {
      if (cleanupScroll) {
        cleanupScroll();
      }

      document.body.removeChild(modalContainer);
      modalContainer = null;
    }
  };
  export const closeModal = () => {
    if (unsubOutsideClick) {
      unsubOutsideClick();
    }

    if (modalContainer) {
      modalOpened = false;
    }
  };

  export const openModal = () => {
    const originalOverflow = window.getComputedStyle(document.body).overflow;
    document.body.style.overflow = 'hidden';
    cleanupScroll = () => {
      document.body.style.overflow = originalOverflow;
      cleanupScroll = null;
    };

    modalContainer = document.createElement('div');
    modalContainer.appendChild(modalRoot);
    document.body.appendChild(modalContainer);
    window.setTimeout(() => {
      modalOpened = true;
    });

    const onOutsideClick = (e) => {
      if (!modalRoot) {
        return;
      }

      const contentNode = modalRoot.firstChild;
      if (e.target !== contentNode && !contentNode.contains(e.target)) {
        closeModal();
      }
    };

    setTimeout(() => {
      window.addEventListener('click', onOutsideClick);
      unsubOutsideClick = () => {
        window.removeEventListener('click', onOutsideClick);
        unsubOutsideClick = null;
      }; 
    });
  };

  onDestroy(closeModal);
</script>

<div class="portal--hidden">
  <div bind:this={modalRoot} class="wrap">
    <div 
      class={`content ${modalOpened ? 'content--opened' : ''}`}
      on:transitionend={removeModalOnClose}
    >
      <slot></slot>
      <div class="cross" on:click={closeModal}>
        <CrossIcon />
      </div>
    </div>
  </div>
</div>

<style>
  .portal--hidden {
    display: none;
  }
  
  .wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.404);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    box-sizing: border-box;
    max-width: 75%;
    min-width: 40%;
    padding: 32px 128px 32px 32px;
    background-color: #fff8db;
    border-radius: 4px;
    -webkit-box-shadow: 4px 3px 7px -4px #000000; 
    box-shadow: 4px 3px 7px -4px #000000;

    transition: 0.4s;
    transform-origin: center;
    transform: scale(0, 0);

    position: relative;
  }

  .content--opened {
    transform: scale(1, 1);
  }

  .cross {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    cursor: pointer;
  }

  .cross > :global(svg) {
    width: 16px;
    height: 16px;
  }
</style>