<h1 class="title">
  <slot name="title"></slot>
</h1>
<div class="content">
  <slot name="content"></slot>
</div>

<style>
    .title {
        margin: 32px 0 0 0;
        padding: 0;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    .content {
        position: relative;
        margin-top: 16px;
        width: 100%;
        word-wrap: break-word;
    }
</style>