<script>
  // Components
  import Modal from '../Modal';

  /// number
  export let id;
  /// string
  export let title;
  /// string
  export let description;
  /// string
  export let photoUrl;
  /// number
  export let price;
  /// number
  export let goldMillis;
  /// number
  export let silverMillis;
  /// number
  export let carats;
  /// number
  export let totalCount;

  let photoLoaded = false;
  const onPhotoLoaded = () => {
    photoLoaded = true;
  };

  export let openDetails;
</script>

<Modal bind:openModal={openDetails}>
  <div class="wrap">
    <img 
      class={`picture ${!photoLoaded ? 'picture--pending' : ''}`} 
      alt="" 
      src={photoUrl} 
      on:load={onPhotoLoaded} 
    />

    <div class="content">
      <h3 class="title">{title}</h3>
      <h4 class="info">
        Цена: ${price.toFixed(2)}
      </h4>
      <h4 class="info">
        Осталось на складе: {totalCount}
      </h4>
      <h4 class="info">
        Золота (мг): {goldMillis}
      </h4>
      <h4 class="info">
        Серебра (мг): {silverMillis}
      </h4>
      <h4 class="info">
        Карат: {carats}
      </h4>
      <p class="description">
        <span style="font-weight: bold;">Описание</span>:
        <br />
        {description}
      </p>
    </div>

    {#if $$slots.option}
      <div class="option">
        <slot name="option"></slot>
      </div>
    {/if}
  </div>
</Modal>

<style>
  .wrap {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
  }

  .picture {
    display: block;
    height: 100%;
    max-height: 300px;
    width: auto;
    border: 1px solid black;
    border-radius: 4px;
  }

  .picture--pending {
    background-color: grey;
  }

  .content {
    margin-left: 32px;
  }

  .title {
    margin: 0 0 14px 0;
    font-size: 32px;
    line-height: 40px;
  }

  .description {
    margin: 16px 0 0 0;
    font-size: 20px;
    line-height: 28px;
  }

  .info {
    margin: 0 0 4px 0;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
  }

  .option {
    margin-left: 32px;
  }
</style>
