<script>
  // Modules
  import { createEventDispatcher } from 'svelte';
  // Icons
  import SearchIcon from '../../assets/Search/search.svg';

  /// Search query
  export let query = '';

  const dispatchEvent = createEventDispatcher();

  let inputRightPadding = '8px';
  $: {
    inputRightPadding = $$slots.option ? '40px' : '8px';
  }
  
  const onChange = (e) => {
    query = e.currentTarget.value;
    dispatchEvent('search');
  };
</script>

<div class="search" style="--input-right-padding: {inputRightPadding};">
  <div class="search-icon">
    <SearchIcon />
  </div>
  <input class="input" value={query} on:input={onChange} />
  {#if $$slots.option}
    <div class="option">
      <slot name="option"></slot>
    </div>
  {/if}
</div>

<style>
  .search {
    box-sizing: border-box;
    position: relative;
    height: 32px;
    border: 1px solid grey;
    border-radius: 4px;
    background: white;
  }

  .input {
    display: block;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0 var(--input-right-padding) 0 40px;
    background: unset;
    border: unset;
    outline: unset;
  }

  .search-icon {
    position: absolute;
    top: 0;
    left: 8px;
    width: 20px;
    height: 20px;
    transform: translateY(25%);
  }

  .search-icon > :global(svg) {
    width: 100%;
    height: 100%;
  }

  .option {
    position: absolute;
    top: 0;
    right: 8px;
    width: 20px;
    height: 20px;
  }
</style>
